<section class="footer">
  <nav>
    <h4>Tienda</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank">Productos</a></li>
      <li><a href="https://adalab.es/" target="_blank">Cajoneras</a></li>
      <li>
        <a href="https://adalab.es/" target="_blank">Para toda la casa</a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank">Habitaciones</a>
      </li>
    </ul>
  </nav>

  <nav>
    <h4>Nosotros</h4>
    <ul>
      <li>
        <a href="https://adalab.es/" target="_blank">Nuestra guía</a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank">Nuestro diseño</a>
      </li>
      <li>
        <a href="https://adalab.es/" target="_blank">Nuestra historia</a>
      </li>
      <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
    </ul>
  </nav>

  <nav>
    <h4>Contacto</h4>
    <ul>
      <li>
        <a href="mailto:ayuda@openspaces.com" target="_blank"
          >ayuda@openspaces.com</a
        >
      </li>
      <li><a href="https://adalab.es/" target="_blank">Socios</a></li>
      <li>
        <a href="https://www.linkedin.com/school/adalab/" target="_blank"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>

      <li>
        <a
          href="https://www.instagram.com/adalab_digital/?hl=es"
          target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/Adalab_Digital" target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
    </ul>
  </nav>
  <a href="./index.html#top" title="Ir a principio página"
    ><i class="fa-solid fa-arrow-up"></i
  ></a>
</section>
