<!--FOOTER-->

<footer class="footer">
  <div class="container">
    <h4 class="container__title">Tienda</h4>
    <nav class="container__nav">
      <ul class="container__menu">
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Productos</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Cajoneras</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Para toda la casa</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Habitaciones</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <h4 class="container__title">Nosotros</h4>
    <nav class="container__nav">
      <ul class="container__menu">
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Nuestra guía</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Nuestro diseño</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Nuestra historia</a
          >
        </li>
        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/"
            target="_blank"
            >Ayuda</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <h4 class="container__title">Contacto</h4>
    <nav class="container__nav">
      <ul class="container__menu">
        <li>
          <a
            class="container__menu--link"
            href="mailto:ayuda@openspaces.com"
            target="_blank"
            >ayuda@openspaces.com</a
          >
        </li>

        <li>
          <a
            class="container__menu--link"
            href="https://adalab.es/empresas/"
            target="_blank"
            >Socios</a
          >
        </li>
      </ul>
    </nav>
    <!--Navegador propio para iconos redes sociales, dentro de navegador sección contacto-->
    <nav class="nav__social">
      <ul class="container__menu">
        <li class="container__menu--social">
          <a
            class="nav__icon"
            href="https://www.linkedin.com/school/adalab/"
            target="_blank"
            alt="Icono Linkedin"
            title="Linkedin Open Spaces"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>

        <li class="container__menu--social">
          <a
            class="nav__icon"
            href="https://www.instagram.com/adalab_digital/?hl=es"
            target="_blank"
            alt="Icono Instagram"
            title="Instagram Open Spaces"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="container__menu--social">
          <a
            class="nav__icon"
            href="https://twitter.com/Adalab_Digital"
            target="_blank"
            alt="Icono Twitter"
            title="Twitter Open Spaces"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Navegador icono flecha-->
  <nav class="nav__arrow">
    <a
      class="nav__icon"
      href="./index.html#top"
      alt="Icono flecha"
      title="¡Subir arriba!"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>
  </nav>
</footer>
