<header class="header" id="top">
  <section class="header__section1">
    <!--NAV HAMBURGUESA-->

    <nav class="header__hamburguer">
      <a
        class="header__hamburguer--link"
        href="https://adalab.es/"
        target="_blank"
        ><i class="fa-solid fa-bars hamburguer"></i
      ></a>
    </nav>

    <!--NAV LINKS-->

    <nav class="header__menu">
      <ul class="header__nav">
        <li>
          <a class="header__nav--link" href="https://adalab.es" target="_blank"
            >Productos</a
          >
        </li>
        <li>
          <a class="header__nav--link" href="https://adalab.es" target="_blank"
            >Colecciones</a
          >
        </li>
        <li>
          <a class="header__nav--link" href="https://adalab.es" target="_blank"
            >Tienda</a
          >
        </li>
        <li>
          <a class="header__nav--link" href="https://adalab.es" target="_blank"
            >Inicio</a
          >
        </li>
      </ul>
    </nav>

    <!--LOGOTIPO-->
    <img
      class="header__logo"
      src="./assets/images/logo.png"
      alt="Logotipo"
      title="Logotipo Open Spaces"
    />
  </section>
  <section class="header__section2">
    <div class="section2">
      <h1 class="header__section2--title">Disfruta creando espacios</h1>
      <button type="button" class="header__button">
        <a
          class="header__button--link"
          href="https://adalab.es/"
          target="_blank"
          >Comprar ahora</a
        >
      </button>
    </div>
  </section>
</header>
