<section class="openspaces">
  <div class="openspaces__wrapper">
    <h2 class="openspaces__title">
      Volverse organizado se siente mejor con open spaces
    </h2>

    <article class="article">
      <img
        class="openspaces__images"
        src="./assets/images/table.png"
        alt="Table wiwh plants"
      />
      <h3>Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>

    <article class="article">
      <img
        class="openspaces__images"
        src="./assets/images/bag.png"
        alt="recycle bag"
      />
      <h3>Materia primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>

    <article class="article">
      <img
        class="openspaces__images"
        src="./assets/images/park.png"
        alt="park"
      />
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </div>
</section>
