<section class="openspaces">
  <h2 class="openspaces__title">
    Volverse organizado se siente mejor con
    <span class="uppercase">open spaces</span>
  </h2>
  <div class="openspaces__container">
    <article class="openspaces__article article1">
      <img
        class="openspaces__article--images"
        src="./assets/images/table.png"
        alt="Mesa con decoración"
        title="Mesa con decoración"
      />
      <h3 class="openspaces__article--title">Lo que necesitas</h3>
      <p class="openspaces__article--line">
        Una linea de productos diseñados para todos tus espacios
      </p>
    </article>

    <article class="openspaces__article article2">
      <img
        class="openspaces__article--images"
        src="./assets/images/bag.png"
        alt="Bolsa reciclable"
        title="Bolsa reciclable"
      />
      <h3 class="openspaces__article--title">Materia primas sustentables</h3>
      <p class="openspaces__article--line">
        Todos los productos con materias primas sustentables
      </p>
    </article>

    <article class="openspaces__article article3">
      <img
        class="openspaces__article--images"
        src="./assets/images/park.png"
        alt="Mapa con dirección"
        title="Mapa con dirección"
      />
      <h3 class="openspaces__article--title">Guía</h3>
      <p class="openspaces__article--line">
        Soporte y asesoramiento para ayudarte con tu objetivo
      </p>
    </article>
  </div>
</section>
