/*.createspaces {
  background-color: $color-lightgrey;
}Le estoy dando el color de fondo al createarticle*/

.createarticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-lightgrey;
}

.createarticle__title {
  font-family: $font;
  font-size: 24px;
  font-weight: bold;
  color: $color-darkgreen;
  margin: 87px 27px 12px 27px;
}

.createarticle__line {
  font-family: $font;
  font-size: 14px;
  color: $color-darkgreen;
  text-align: center;
  margin-bottom: 24px;
  margin-right: 27px;
  margin-left: 27px;
}

.createarticle__link {
  background-color: $color-darkgreen;
  padding: 12px 24px;
  color: $color-white;
  font-family: $font;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 92px;
}

.image {
  width: 100%;
}
.createspaces__bathroom {
  height: 304px;
  width: 100%;
  object-fit: cover;
}
