.footer {
  background-color: $color-darkgreen;
  color: $color_lightblue;
  font-family: $font;
  padding-top: 56px;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 59px;
  margin-left: 130px;
}

.nav__title {
  font-size: 20px;
  margin-bottom: 12px;
}
.nav__group {
  padding-bottom: 20px;
}
.nav__options {
  font-size: 14px;
  list-style-type: none;
  padding-bottom: 2px;
}
.nav__link {
  text-decoration: none;
  color: $color_lightblue;
}
.nav__icon {
  color: $color-white;
  margin-top: 15px;
  font-size: 24px;
  margin-right: 11px;
}

.social {
  display: flex;
  flex-direction: row;
}
.arrow {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 29px;
}
.arrow__icon {
  color: $color-white;
}
