.header {
  background-image: url("../images/room.jpg");
  height: 100vh;
  min-height: 389px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__hamburguer {
  /*MIRAR HAMBURGUESA, MÁRGENES, TAMAÑO ETC*/
  margin-right: 30px;
  margin-left: 33px;
}

.fa-bars {
  position: fixed;
  top: 0;
  z-index: 999;
  padding-top: 55px;
}

.header__logo {
  margin-right: 100px;
  margin-top: 19px;
  margin-left: 60px;
}

/*bien*/

.header__section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__section2--title {
  font-family: $font;
  color: $color-darkgreen;
  font-size: 24px;
  font-weight: bold;
  margin-top: 215px;
  margin-bottom: 24px;
}

.header__section2--link {
  background-color: $color-darkgreen;
  padding: 12px 24px;
  color: $color-white;
  font-family: $font;
  font-weight: bold;
  text-decoration: none;
}
