/*HEADER HAMBURGUESA Y LOGOTIPO*/

.header {
  background-image: url("../images/room.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__section1 {
  height: 20vh;
}

.header__hamburguer {
  position: fixed;
  top: 0;
  margin-top: 55px;
  margin-left: 33px;

  @media all and (min-width: 768px) {
    margin-top: 75px;
    margin-left: 82px;
  }
  @media all and (min-width: 1200px) {
    display: none;
  }
}

.header__hamburguer--link {
  color: $color-darkgreen;
  font-size: 24px;
}

/*NAV VERSIÓN DESKTOP*/

.header__menu {
  background-color: transparent;
  position: fixed;
  top: 0;
}

.header__nav {
  display: none;

  @media all and (min-width: 768px) {
    display: none;
  }

  @media all and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 76px;
    margin-left: 100px;
  }

  .header__nav--link {
    color: $color-darkgreen;
    font-size: 16px;
    text-decoration: none;
    font-family: $font;
    padding: 10px 10px 10px 30px;
    /* background-color: $color-lightgrey;*/ /*Considerar background-color, para que no se superpongan los textos*/
  }
}

/*HEADER LOGOTIPO*/

.header__logo {
  margin-top: 19px;
  margin-left: 100px;

  @media all and (min-width: 768px) {
    margin-top: 39px;
    margin-left: 350px;
  }

  @media all and (min-width: 1200px) {
    margin-left: 650px;
  }
}

/*HEADER SECTION 2*/

.header__section2 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  justify-content: center;
  text-align: center;

  @media all and (min-width: 768px) {
    align-self: flex-start;
    text-align: left;
    margin-left: 147px;
  }

  @media all and (min-width: 1200px) {
    margin-left: 280px;
  }
}

.header__section2--title {
  font-family: $font;
  color: $color-darkgreen;
  font-size: 24px;
  font-weight: bold;
  margin-top: 215px;
  margin-bottom: 24px;

  @media all and (min-width: 768px) {
    font-size: 36px;
    width: 15ch;
    margin-top: 200px;
    margin-bottom: 12px;
  }
}

/*BOTÓN COMPRAR AHORA*/

.header__button {
  font-family: $font;
  background-color: $color-darkgreen;
  width: 175px;
  height: 48px;
}

.header__button :hover {
  border-color: 1px solid #db7e77;
  background-color: #db7e77;
}

.header__button--link {
  text-decoration: none;
  color: $color-white;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: capitalize;
}
