/*HEADER*/

.header {
  background-image: url("../images/room.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__section1 {
    height: 20vh;
  }

  /*--NAV HAMBURGUESA--*/

  &__hamburguer {
    position: fixed;
    top: 0;
    margin-top: 55px;
    margin-left: 33px;

    @media all and (min-width: 768px) {
      margin-top: 75px;
      margin-left: 82px;
    }
    @media all and (min-width: 1200px) {
      display: none;
    }

    &--link {
      color: $color-darkgreen;
      font-size: 24px;
    }
  }

  /*--NAV LINKS--*/

  &__menu {
    background-color: transparent;
    position: fixed;
    top: 0;
  }

  &__nav {
    display: none;

    @media all and (min-width: 768px) {
      display: none;
    }

    @media all and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      margin-top: 76px;
      margin-left: 100px;
    }

    &--link {
      color: $color-darkgreen;
      font-size: 16px;
      text-decoration: none;
      font-family: $font;
      padding: 10px 10px 10px 30px;
      /* background-color: $color-lightgrey;*/ /*Considerar background-color, para que no se superpongan los textos*/

      &:hover {
        color: #ff4d4d;
      }
    }
  }

  /*--LOGOTIPO--*/

  &__logo {
    margin-top: 19px;
    margin-left: 100px;

    @media all and (min-width: 768px) {
      margin-top: 39px;
      margin-left: 350px;
    }

    @media all and (min-width: 1200px) {
      margin-left: 650px;
    }
  }

  /*HEADER SECTION 2*/

  &__section2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--container {
      justify-content: center;
      text-align: center;

      @media all and (min-width: 768px) {
        align-self: flex-start;
        text-align: left;
        margin-left: 147px;
      }

      @media all and (min-width: 1200px) {
        margin-left: 280px;
      }
    }

    &--title {
      font-family: $font;
      color: $color-darkgreen;
      font-size: 24px;
      font-weight: bold;
      margin-top: 215px;
      margin-bottom: 24px;

      @media all and (min-width: 768px) {
        font-size: 36px;
        width: 15ch;
        margin-top: 200px;
        margin-bottom: 12px;
      }
    }
  }

  /*BOTÓN COMPRAR AHORA*/

  &__button {
    font-family: $font;
    background-color: $color-darkgreen;
    width: 175px;
    height: 48px;
    border: solid 1px $color-darkgreen;
    transition: background-color 0.8s, border 0.8s;

    &:hover {
      background-color: $color-hover;
      border: solid 2px $color-darkgreen;
    }

    &--link {
      text-decoration: none;
      color: $color-white;
      padding: 12px 24px;
      font-weight: bold;
      text-transform: capitalize;
      transition: color 0.8s;

      &:hover {
        color: $color-texthover;
      }
    }
  }
}
