.openspaces {
  background-color: $color-lightgrey;
  font-family: $font;
  color: $color-darkgreen;
  text-align: center;
}

.openspaces__title {
  padding-top: 40px;
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom: 37px;
}
.uppercase {
  text-transform: uppercase;
}

.openspaces__article {
  text-align: center;
  margin-right: 105px;
  margin-left: 105px;
}

.openspaces__article--images {
  color: $color-darkgreen;
  width: 90px;
  height: 90px;
  margin-bottom: 35px;
}

.openspaces__article--title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.openspaces__article--line {
  padding-bottom: 35px;
}
