.openspaces {
  background-color: $color-lightgrey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/*.openspaces__wrapper {
  margin-right: 47px;
  margin-left: 45px;
}*/
.openspaces__title {
  text-align: center;
  font-size: 24px;
}
.openspaces__images {
  color: $color-darkgreen;
  width: 90px;
  height: 90px;
}
