/*SECTION SHIPPING*/

.shipping {
  background-color: $color-orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    margin: 46px 152px 10px 142px;
  }

  &__title {
    font-family: $font;
    font-size: 24px;
    font-weight: bold;
    color: $color-white;
    padding-bottom: 3px;

    @media all and (min-width: 768px) {
      font-size: 30px;
      order: 2;
    }
    @media all and (min-width: 1200px) {
      font-size: 36px;
    }
  }

  &__small {
    font-family: $font;
    font-size: 14px;
    color: $color-white;
    height: 31px;
    margin-right: 27px;
    margin-left: 12px;

    @media all and (min-width: 768px) {
      order: 1px;
    }

    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  /*--BOTÓN--*/

  &__button {
    font-family: $font;
    background-color: $color-darkgreen;
    width: 175px;
    height: 48px;
    margin: 5px 124px 51px 115px;
    margin-top: 20px;
    border-color: $color-orange;
    border: 1px solid $color-darkgreen;
    transition: background-color 0.8s, border 0.8s;

    @media all and (min-width: 768px) {
      order: 3;
    }
  }

  &__button:hover {
    background-color: $color-hover;
    border: solid 2px $color-darkgreen;
  }

  &__link {
    color: $color-white;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      color: $color-texthover;
    }
  }
}
